@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Laboratorio 3</h1>
    <p class="lead">Erick Fabian Alvarez Franco 1070117</p>
    <p class="lead">Erick Eduardo Contreras Gomez 1009017</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Insertar datos manuales</h2>
        <p>@Html.ActionLink("Insertar por numero", "Create", "Partido")</p>
        <p>@Html.ActionLink("Insertar por fecha", "Create", "Partido")</p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>